@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

html {
  background: rgb(21, 1, 34);
  color: honeydew;
}

#loader {
  position: fixed;
  font-family: 'Chelsea Market', cursive;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: black url(https://media.giphy.com/media/WiIuC6fAOoXD2/giphy.gif)
    no-repeat center center;
  display: flex;
  justify-content: center;
  color: honeydew;
}

body {
  font-family: 'Chelsea Market', cursive;
  background: rgb(21, 1, 34);
  color: honeydew;
}

.heading-insignia {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav div {
  text-align: justify;
  display: flex;
  justify-content: center;
  padding: 5px;
}

nav a {
  margin: 1em;
  color: honeydew;
}

nav a:hover {
  background: rgb(12, 66, 83);
  border-radius: 25%;
  width: 5%;
  height: 5%;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  background-color: rgb(10, 88, 152);
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  border-radius: 4px;
  font-size: 1em;
  padding: 10px 50px 10px 50px;
}

button:hover {
  background: rgb(4, 55, 97);
  cursor: pointer;
}

.field {
  padding: 0.42857em;
  width: 80%;
  box-sizing: border-box;
  justify-content: center;
  margin: 1%;
  border-radius: 6px;
  border: 1px rgba(4, 44, 62, 0.2) solid;
  font-size: 1em;
}

.acct-choices {
  display: flex;
  justify-content: space-around;
}

.acct-choices h3 {
  cursor: pointer;
}

.acct-choices h3:hover {
  color: lime;
}

.acct-choices h5:hover {
  color: lime;
}

.portal-card {
  /* box-shadow: 10px 5px 30px rgb(0, 0, 0);
  background-color: rgb(142, 97, 226, 0.3); */
  padding: 1rem;
  border-radius: 5px;
  height: 400px;
  width: 100%;
  cursor: pointer;
}

.portal-card img {
  border: 2px solid black;
  box-shadow: 10px 5px 30px rgb(0, 0, 0);
  border-radius: 100%;
  max-width: 100%;
  width: 200px;
  height: 350px;
  max-height: 80%;
}
